<html>
<head>
<title>medicines</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


        
</head>

{% include 'nav.html' %}
<body>
<div class=" container pt-5 mt-5">
		<h5><b><font font color="red"><u>Placement Policy :</u></font></b></h5>
		
</div>
<div class="container pt-3 mb-5 mt-5">
    <div class="row">
        <div class="col-md-12"><p> <b>1.</b> Campus placement is a facility provided for all students of RGUKT RK valley. Registration is 						mandatory compulsory and students not interested in industry jobs are requested not to register for jobs 					placements and same should be intimated to placement cell in writing. Students having more than one course 						backlogs are advised not to register for placements and are advised to improve their performance and 						register after clearing all the backlogs.</p>
        				<p><b>2.</b>It is the prime responsibility for every student to check eligibility criteria before applying 							for a company. The eligibility criteria and other information are usually uploaded on University Hub 							with subsequent updates. </p>
        				<p><b>3.</b>It is the responsibility of the student to check announcements/notices/updated 						information/shortlisted names etc. in the notice boards and placement website. Students are expected 							to be in time as per the announcements. </p>
        				<p> <b>4.</b>There is no limit on number of registrations by a student who can make for any proposed drive.</p>
        				<p> <b>5.</b>RGUKT RKvalley follows “One Student One Job Policy”. Students who have received one offer will 							bede-registered from subsequent placement Drives with an exception of one more attempt i.e. to appear 							for a single CORE job/ Dream offer (5 LPA). Every student who is selected by a company is out of 							placement thereafter i.e. deregistered from subsequent placement Process.</p>
        				
        				<p><b>6.</b>If any student registers for a company and doesn’t turn up for the recruitment process, he would 						be considered as absentee/Defaulter and would not be permitted for next two drives, for those who do not 					turn up for Pre-Placement Talk, same would be applicable. However, student is permitted to withdraw the 						registration by submitted application for withdrawal within the stipulated time (Day before the 						drive)notified by Training & Placement Office and should obtain the permission from Faculty 						In-Charge/Placement officer well in advance. No intimation will count as absenteeism. </p>
        				<p><b>8.</b>Wait listing policy: All the students who have waiting listing offer will be allowed to appear 								for subsequent drives until he/she land in a job. </p>
        				
        				<p><b>10.</b>Students found cheating or misbehaving during the selection process (PPT/Test/GD/Interview) 						will be debarred from the subsequent placement process. </p>
        				<p><b>11.</b>If a student is unplaced, and is interning (4/II) project at company’s premises, she/ he is 						free to continue applying for drives on campus. However, permission to appear for the drives will be 							under sole discretion of the company where he/she is interning.</p>
        				<p><b>12.</b><b>Before applying for any company students must consciously go through all the details about 							the company offer to be made by company/domain etc. later after getting selected without any 							valid/	genuine reason student is not advised to reject the offer, this would lead to deregistration 							from further drives. After selection, we wish not to hear’ I just attempted, I was not interested 						still just tried’ all the excuses would not be considered as T&P believes in a fair chance for all 							the eligible students. </b></p>
        				<p><b>13.</b> Students are not allowed to contact company/HR Delegates directly for any reason. If they are 							facing any problem, they have to first contact their Placement office and discuss their problem with 							them. Any Violation of the same would lead to debarment in further placement drives.</p>
        				<p><b>14.</b> The responsibility of going through the offer letter and taking actions therein such as 							submission of documents lies entirely with the student. In case offers are received directly by the 							student from the company, the same must be intimated to the Placement Office.</p>
        				<p><b>15.</b>After having accepted a job offer, if a student does not wish to join a company due to genuine 							reasons such as pursuing higher studies, then the students has to inform the Placement Office and 						directly communicate the company of her/his decision. It is likely that they might abide by the 							agreements/bonds they enter into with the company. </p>
        				<p><b>16.</b>Career Development Placement Cell office assumes that every selected student will pass the 							medical test if required by the company. If there is a rejection at this stage, the student’s 							registration will be renewed and the student becomes eligible again to seek placement through this 							office in the same placement session.</p>
        				<p><b>17.</b> If the total number of students who rejects offers for NO valid reason exceeds 20% of the 							total placed 	candidates in a particular department. Then the entire department would be debarred 						from any placement activities for the subsequent academic year.</p>
        				<p><b>18.</b> CDPC office reserves the right to change any or all of the above rules and 							is the sole authority in taking decisions pertaining to placements from the institute. Any grievances 							must be brought up to the notice of Placement office for resolution.</p>
        				
        				
        				
        				
        </div>
     </div>
</div>
<div class=class="container text-center mt-4">
<center><a href="{{ url_for('placement_policy') }}"><button class="btn  mb-5" style="background-color: rgb(11, 30, 114); color:white;">Go Back</button></a></center>
</div>

{% include 'footer.html' %}

</body>
</html>


